* {
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


/* For Tags */

nav {

    height: 64px;
}


header a:hover {
    text-decoration: none;
}

header ul {
    list-style-type: none;

}

header span span {
    margin-right: 16px;
}

header span span:last-child {

    margin-right: 24px;
}





main {
    /* background: pink; */
    /* padding-top: 64px; */
}




/* For Class's*/
.nav_row {
    height: 64px;

}


.menu_image {
    margin-left: 24px;

}

.banner{
    background-color: #d8d8d8;
}



.banner_image {

    padding: 32px 24px 32px 24px;

}

.banner_title{
     padding-bottom: 32px;
     font-size: 40px;
     font-weight: 600;
}

.banner_text{
    padding-bottom: 24px;
    font-size: 24px;
     font-weight: 600;
}
.banner_button{
    
    padding-top: 8px;
    padding-bottom: 8px;
    
}

.banner_textbox{
    padding-bottom: 32px;
    padding-right: 50px;
}

.banner_mobile{
    padding-left: 16px;
}

.banner_desktop{
    padding-right: 140px;
}